*{
/* padding: 0; */
margin: 0;
}
html {
    scroll-behavior: smooth;
  }
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
  position: relative;
}
nav {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding:20px 0px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline navy;
  transition: 0.1s ease-in;
}
body {
  background-color: rgb(245, 243, 243);
  font-family: 'Poppins', 'Roboto', 'Inter', sans-serif;
}

footer {
  font-family: 'Inter', sans-serif;
} 
.icon{
  display: none;
}
main{
  display: flex;
flex-direction: column;
align-items: center;
row-gap: 50px;
}
section{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px ;


}
.animatedDiv {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animatedDiv.visible {
  opacity: 1;
  transform: scale(1);
}

.personal-dt{
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
}

.name{
  font-size: 60px;
  color: navy;
  font-weight: 600;
}
.min-dis{
  font-size: 20px;
}

.image{
  width: 400px;
  height:400px;
  display: flex;
  justify-items: center;
  align-items: center;
  place-items:center ;
}


.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
padding: 5px;
  background: #111;
  box-shadow: 0 0 15px gainsboro;
  animation: glow 2s infinite alternate;

}
.aboutus img{
  width: 400px;
  border-radius: 10px;
}
.aboutus-dt{
  width: 40%;
}
.heading{
  font-size: 30px;
  font-weight: 700;
}
.sub-heading{
  font-size: 25px;
  font-weight: 500;
  
}
.description{
  font-weight: 500;
  color: navy;
  font-size: 20px;
  word-spacing: 5px;
}

.fa-brands{
  font-size: 30px;

}
i{
  cursor: pointer;
}
.projects{
  width: 100%;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.my-project{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}
.pro-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding-bottom: 10px;

}
.title{
  font-size: 18px;
  font-weight: 700;
  color: navy;
}
.project{
  width: 100%;
  outline: 1px solid gray;
  border-radius: 10px;
  outline-offset: 2px;
}
.project a {
  display: inline-block;    
  text-align: center;
  outline: 1px solid gray;
  /* width: 90%; */

  color: gray;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.project a:hover {
  background-color: navy;
  color: white;
}
.project-links{
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.project-img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.project-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.myskills{
  flex-direction: column;
}
.myskills .heading{
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 20px;
    column-gap: 50px;
    row-gap: 50px;
  }

  .skill-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }

  .skill-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .skill-info {
    flex: 1;
  }

  .progress-bar {
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 5px;
    margin-top: 4px;
    overflow: hidden;
  }
.progress {
  height: 100%;
  background-color: navy;
  width: 0%;
  transition: width 1.5s ease-in-out;
}


.contact-heading{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
} 
.contact-div{
  flex-direction: column;
  row-gap: 50px;
}
.contact-me{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  column-gap: 20px;
}
.contact  {
  display: flex;
  align-items: center;
  /* width: 100%; */
  column-gap: 20px;
  border: 1px solid navy;
  padding: 10px;
  border-radius: 10px ;
}
.contact-info{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact-info h2{
  margin: 0;
}
.icon-div{
  display: flex;
  align-items: center;
}
.fa-solid{
  font-size: 30px;
}

.subheading{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.myhobby{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.hobbies{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
}
.hobby{
  width: 25%;
  display: flex;
  align-items: center;
      background-color: #f9f9f9;
      padding:10px 20px;
      border-radius: 15px;
          border: 1px solid #ccc;
          column-gap: 20px;
}
  .myhobby .heading{
text-align: center;
  }
.hobby p{
  font-size: 25px;
}
.hobby-img{
  width: 100px;
}
@keyframes glow {
  from {
    box-shadow: 0 0 5px  gray, 0 0 10px navy;
  }
  to {
    box-shadow: 0 0 20px gray, 0 0 30px navy;
  }
}

footer{
background-color: lightgray;
  padding: 20px 50px;
  display: flex;
  align-items: center;
justify-content: space-between;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 100;
  font-size: 24px;
  padding: 10px 15px;
  border: none;
  background-color: navy;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width:1000px) {

  .my-project{
    grid-template-columns: repeat(2, 1fr);
  
  }

  .image {
    width: 300px;
    height: 300px;
  }
  


  .hobbies{
    flex-direction: column;
    row-gap: 20px;
  }
  .hobby{
    width: 100%;
  }
}
@media (max-width:850px) {
  .personal-sec{
    width: 100%;
    grid-template-columns: 500Px;
    flex-direction: column;
    justify-content: center;
align-items: center; 
row-gap: 50px ;

}
.personal-dt{
width: 70%;
  
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
  div.my-project{
    grid-template-columns: 1fr;
    width: 100%;
   justify-content: center;
    align-items: center;
  }
  
  .project{
    width: 80%;
    place-self: center;
  }
 .aboutus{
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 50px;
  }
   .aboutus-dt{
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  }
.contact-me{ 
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.contact{
  place-self: center;
}
.contact{
  width: 80%;
}
}
@media (max-width: 650px) {
  .name{
    font-size: 40px;
    margin-top: 20px;
  }
  section{
    margin: 10px;
  }
  header{ 
padding: 0px 20px;
    justify-content: space-between;
  }
  nav {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column;
    position: absolute;
    top: 50px;
    background: white;
    border-radius: 0;
    width: 100%;
    left: 0%;
    row-gap: 10px;
    z-index: 10;
    padding: 0px;
  }
nav a{
 padding-left: 10px;
}
  .icon {
    display: block;
    cursor: pointer;
  }

  #menu-toggle:checked ~ nav {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    /* padding: 10px; */
  }

 nav a:hover {
    background-color: navy;
    text-decoration: none;
    padding: 5px;
    color: white;
  }
  .personal-dt, .aboutus-dt{
    width: 90%;
    padding: 0px 10px;
  }

  footer{
    flex-direction: column;
    row-gap: 20px;

  }
}
